{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}    
<div class="col-lg-5 col-md-8 col-12">       
    <div class="border border-dark">
    <h3 class="bg-dark text-white p-2 text-capitalize">Profile</h3>
      <div class="p-2">       
            {% if messages %}
            {% for message in messages %}                       
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}                        
                    <div class="alert alert-success">
                      {{ message }}
                    </div>          
                {% endif %}
            {% endfor %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-center mb-1">
                    <img src="{{ profile_image_url }}" alt="" class="image-fluid">
                </div>
                {{ profile_form.profile_picture|as_crispy_field }}
                <br>
                {{ user_form.username|as_crispy_field }}
                {{ user_form.first_name|as_crispy_field }}
                {{ user_form.last_name|as_crispy_field }}
                {{ user_form.email|as_crispy_field }}
                <button type="submit" class="btn btn-dark mt-2">Edit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}