{% extends 'main.html' %}

{% block content %}      
<div class="col-lg-5 col-md-8 col-12">       
    <div class="border border-dark">
    <h3 class="bg-dark text-white p-2 text-capitalize">Sign In</h3>
      <div class="p-2">       
            {% if messages %}
            {% for message in messages %}                       
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}                                    
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>    
                {% else %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %} 
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control">
                <input type="hidden" name="next" value="{{ request.GET.next }}">   
                <button type="submit" class="btn btn-dark my-3">Submit</button>
                <small class="d-block mt-1">Doesn't have an account? <a href="{% url 'sign-up' %}">Sign Up</a></small>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    