{% extends 'base/main.html' %}
{% load widget_tweaks %}

{% block header %}
    Create a new poll
{% endblock header %}
    

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_field form.img class='img-fluid' %}    
    {% render_field form.question class='form-control mt-3' rows=3 placeholder='ex. What is your favorite color?' %}    

    <div class="d-flex justify-content-between my-3">
        {% render_field form.question_one class='form-control' placeholder='ex. White' %}
        {% render_field form.question_two class='form-control mx-2' placeholder='ex. Black' %}
        {% render_field form.question_three class='form-control' placeholder='ex. Other' %}
    </div>

    <button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock content %}
    