{% extends 'main.html' %}
{% load widget_tweaks %}

{% block content %}     
<div class="col-lg-8 col-md-10 col-12">       
    <div class="border border-dark">
    <h3 class="bg-dark text-white p-2 text-capitalize">Edit a poll</h3>
        <form method="POST" enctype="multipart/form-data" class="p-2">
            
            {% if creator == current_signed_in %}
            {% if messages %}
                {% for message in messages %}        
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}                        
                        <div class="alert alert-danger">
                          {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}     
            {% csrf_token %}    
            {% if poll.poll_img %}                
                <div class="col">
                    <img src="{{ poll.poll_img.url }}" alt="" class="rounded" style="width: 15rem;">    
                </div>
            {% endif %}
            <div class="col mb-3">
                {% render_field form.poll_img class='img-fluid'%}    
            </div>
            {% render_field form.question class='form-control' rows=3 placeholder='ex. What is your favorite color?' %}            
            <div class="d-sm-flex justify-content-between my-3">
                {% render_field form.question_one class='form-control' placeholder='ex. White' %}
                {% render_field form.question_two class='form-control mx-sm-2' placeholder='ex. Black' %}
                {% render_field form.question_three class='form-control' placeholder='ex. Other' %}
            </div>    
            <a href="{% url 'home' %}" class="btn btn-light">Home</a>
            <button type="submit" class="btn btn-dark">Edit</button>
            <small class="d-block mt-2">Do you want to clear the selected counts? click <a href="{% url 'clear_selected_count' poll.question_slug poll.poll_uuid %}">here</a></small>
            {% else %}                            
                <h2>Oooopsss. You are not the owner of this poll <span class="text-danger">!</span></h2>
                <a href="{% url 'home' %}" class="btn btn-dark">Home</a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}    
    