{% extends 'main.html' %}

{% block content %}     
<div class="col-lg-8 col-md-10 col-12">       
    <div class="border border-dark">
    <h3 class="bg-dark text-white p-2 text-capitalize">Available polls 
        <div class="float-end">count: {{ total_polls }}</div>
    </h3>
      <div class="p-2">       
        {% if messages %}
            {% for message in messages %}        
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}                        
                    <div class="alert alert-success">
                      {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
            {% for data in poll_list %}                
            <div class="d-flex justify-content-between mt-2">     
                <div class="w-75">           
                    <h4>{{ data.question }}</h4>
                    <small>{{ request.user }}</small>
                </div>
                <div class="button-div d-flex align-items-center">
                    <a href="{% url 'vote' data.question_slug data.poll_uuid %}" class="btn btn-dark">Vote</a>
                    <a href="{% url 'result' data.question_slug data.poll_uuid %}" class="btn btn-light">Result</a>
                    <a href="{% url 'edit' data.question_slug data.poll_uuid %}" class="btn btn-dark">Edit</a>
                    <a href="{% url 'delete' data.question_slug data.poll_uuid %}" class="btn btn-danger">Delete</a>
                </div>
            </div>    
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}    
    