{% extends 'main.html' %}
{% load widget_tweaks %}

{% block content %}     
<div class="col-lg-8 col-md-10 col-12">       
    <div class="border border-dark">
    <h3 class="bg-dark text-white p-2 text-capitalize">Cast your vote</h3>
        <form method="POST" class="p-2">
            {% if creator == current_signed_in %}
                <h2>Oooopsss. You are the owner of this poll <span class="text-danger">!</span></h2>
                <h3>You can not vote</h3>
                <a href="{% url 'home' %}" class="btn btn-dark">Home</a>
            {% elif request.user in poll.voted.all %}
                <h2>Oooopsss. You already vote <span class="text-danger">!</span></h2>
                <h3>You can only vote once {{ request.user.first_name }}</h3>
                <a href="{% url 'home' %}" class="btn btn-dark">Home</a>
                <a href="{% url 'result' poll.question_slug poll.poll_uuid %}" class="btn btn-light">Result</a>
            {% else %}
                {% if messages %}
                    {% for message in messages %}        
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}                        
                            <div class="alert alert-danger">
                              {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}     
                {% csrf_token %} 
                {% if poll.poll_img %}
                    <img src="{{ poll.poll_img.url }}" alt="" class="img-fluid" style="width: 20rem;">                                   
                {% endif %}               
                <h4 class="mt-3">{{ poll.question }}</h4>
                <div class="my-3"> 
                    <div>           
                        <input type="radio" name="poll" value="option1">
                        {{ poll.question_one }}
                    </div>
                    <div class="my-2">
                        <input type="radio" name="poll" value="option2">
                        {{ poll.question_two }}
                    </div>
                    <div>
                        <input type="radio" name="poll" value="option3">
                        {{ poll.question_three }}
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}    